.btn{
    padding: 0;
    margin: 0;
    border: none;
    background-color: #308efe;
    color: #ffffff;
    height: 35px;
    width: 180px;
    border-radius: 3px;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
}