.addButton{
    padding: 0;
    margin: 0;
    border: none;
    background-color: #308efe;
    color: #ffffff;
    height: 35px;
    width: 180px;
    border-radius: 3px;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
}
.content-table{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
}
.content-table thead tr{
    background-color: #308efe;
    color: white;
    font-size: 17;
    text-align: center;
    font-weight: bold;
}
.content-table th{
    padding: 15px 5px;
    
}
.content-table td{
    padding: 10px 10px;
    font-size: 17px;
    color: dimgray;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    text-align: center;
}
.content-table tbody tr .idName{
    margin-top: 10px;
}
.content-table  .edit{
    padding: 0;
    margin: 0;
    background-color: darkgrey;
    height: 30px;
    width: 80px;
    color: #ffffff;
    font-size: 17px;
    line-height: 19px;
    border: none;
}
.content-table  .delete{
    padding: 0;
    margin: 0;
    background-color: #d11a2a;
    height: 30px;
    width: 80px;
    color: #ffffff;
    font-size: 17px;
    line-height: 19px;
    border: none;
    margin-left: 20px;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.modalHeading{
    padding: 0;
    margin: 0;
    text-align: center;
}